<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" type="text/css" href="../style/index.css">
    </head>
    <body>
        <div class="navbar">
            <a href="#">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Phone<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">IPhone</a>
                    <a href="#">Samsung</a>
                    <a href="#">Huawei</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Laptop<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">MacBook</a>
                    <a href="#">Xiaomi</a>
                    <a href="#">Huawei</a>
                </div>
            </div>
            <div class="dropdown" style="float:right">
                <button class="dropbtn">Log in<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="./views/login_page.html">Sign in</a>
                    <a href="./views/sign_up.html">Sign up</a>
                </div>
            </div>
            <a href="#" style="float:right">Cart</a>
        </div>
    </body>
</html>