<html>
    <head>
        <title>Sign up</title>
        <link rel="stylesheet" type="text/css" href="../styles/sign_up.css">
    </head>
    <body>
        <div id="sign_up">
            <form>
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname">
                <label for="age">Age</label>
                <input type="text" id="age" name="age">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <label for="retype_password">Retype Password</label>
                <input type="password" id="retype_password" name="retype_password">
                <div id="lower">
                    <input type="submit" value="Sign up">
                </div>
            </form>    
        </div>    
    </body>
</html>